<div class="main home">
  <div class="home-container">
    <img class='home-image' src='assets/top_image.jpeg'>
    <p class='over-image'>買い物を もっと楽しく</p>
    <p class="home-desc">↓↓※新規登録は不要です。ログインをお願いします</p>
    <%= link_to("ログイン", "/login", class: "btn btn-large") %>
    <%= link_to("新規登録", "/signup", class: "btn btn-small") %>
  </div>
</div>
